#user {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

#user td,
#user th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#user tr {
  background-color: #ddd;
}

#user th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(1, 89, 148);
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif;
}